
<hr/>
<h4 style="font-size:15px;font-weight: 400">Winter is coming!</h4>

<div class="featuredItem">
    <div style="float: left;">
        <div class="featuredFloat">
            <div class="featuredNew widget-content text-center featuredWidget">
                <div class="featuredNew-thumbnail" style="width: auto;">
                    <a href="http://localhost:8080/single?q=The%20Winds%20of%20Winter&t=title"><img src="http://airherald.com/wp-content/uploads/2014/06/Winds-Of-Winter-Release-Date.jpg"></a>
                </div>
                <div class="details" style="padding-left: 5px;">
                    <p style="white-space: pre;">The Winds of W..</p>

                    <p style="white-space: pre;font-size:12px;color:#808080;">George R. Martin</p>
                    <a class="showOptions" href="#">7/10/2015</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featuredItem">
    <div style="float: left;">
        <div class="featuredNew widget-content text-center featuredWidget">
            <div class="featuredNew-thumbnail" style="width: auto;">
                <a href="http://localhost:8080/single?q=The%20World%20of%20Ice%20and%20Fire&t=title"><img src="http://www.georgerrmartin.com/wp-content/uploads/2014/03/World-of-Ice-and-Fire-jkt-ElioLinda-1.jpg"></a>
            </div>
            <div class="details" style="padding-left: 5px;">
                <p style="white-space: pre;">The World of Ice..</p>

                <p style="white-space: pre;font-size:12px;color:#808080;">George R. Martin</p>
                <a class="showOptions" href="#">1/10/2015</a>
            </div>
        </div>
    </div>
</div>
<div class="featuredItem">
    <div style="float: left;">
        <div class="featuredNew widget-content text-center featuredWidget">
            <div class="featuredNew-thumbnail" style="width: auto;">
                <a href="http://localhost:8080/single?q=Old%20Venus&t=title"><img src="http://www.georgerrmartin.com/wp-content/uploads/2014/06/old-venus.jpg"></a>
            </div>
            <div class="details" style="padding-left: 5px;">
                <p style="white-space: pre;">Old Venus</p>

                <p style="white-space: pre;font-size:12px;color:#808080;">George R. Martin</p>
                <a class="showOptions" href="#">1/10/2015</a>
            </div>
        </div>
    </div>
</div>
<div class="featuredItem">
    <div style="float: left;">
        <div class="featuredNew widget-content text-center featuredWidget">
            <div class="featuredNew-thumbnail" style="width: auto;">
                <a href="http://localhost:8080/single?q=The%20Ice%20Dragon&t=title"><img src="http://www.georgerrmartin.com/wp-content/uploads/2014/06/icedragon-2014_big.jpg"></a>
            </div>
            <div class="details" style="padding-left: 5px;">
                <p style="white-space: pre;">The Ice Dragon</p>

                <p style="white-space: pre;font-size:12px;color:#808080;">George R. Martin</p>
                <a class="showOptions" href="#">1/10/2015</a>
            </div>
        </div>
    </div>
</div>