<!-- Start of Featured Banner -->
<script>
    $(document).ready(function () {
        $('#carousel').elastislide();
    });
</script>
<ul id="carousel" class="elastislide-list">
    <li>
        <img src="http://th07.deviantart.net/fs70/PRE/f/2012/117/4/9/game_of_thrones_cover_art_by_x3inith-d4xpn4c.jpg"
                    alt="image01"/>
    </li>
    <li>
            <img src="https://p.gr-assets.com/540x540/fit/hostedimages/1406424809/10547674.jpg" alt="image02"/>
    </li>
    <li>
            <img src="http://cdn3.whatculture.com/wp-content/uploads/2013/11/untitledothers1.jpg"
                         alt="image03"/>
    </li>
</ul>

<!-- End of Featured Banner -->