			<!-- Start of Featured Banner -->
				  <div class="col-md-12 section" id="featured" >
					<div class="widget-container mov fluid-height fullwidth" id="featured-bg" style="">
					  <div class="widget-content text-center">
						<div class="graph-container featured-text" >
						<h2>Winter is Coming!</h2>
						</div>
						<div class="featuredItem1">
							<div class="featuredFloat">
								<div class="movie widget-content text-center featuredWidget" >
									<div class="mov-thumbnail" style="width: auto;">
										<img style="max-width: 120px;width: 120px;" src="http://airherald.com/wp-content/uploads/2014/06/Winds-Of-Winter-Release-Date.jpg">
									</div>
									<div class="mov-bottom" style="padding-left: 5px;">
									<p style="white-space: pre;">The Winds of W..</p>
									<a class="showOptions" href="#">7/10/2015</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="featuredItem2">
							<div style="position: relative; float: right;">
								<div class="movie widget-content text-center featuredWidget" >
									<div class="mov-thumbnail" style="width: auto;">
										<img style="max-width: 120px;width: 120px;" src="http://www.georgerrmartin.com/wp-content/uploads/2014/03/World-of-Ice-and-Fire-jkt-ElioLinda-1.jpg">
									</div>
									<div class="mov-bottom" style="padding-left: 5px;">
									<p style="white-space: pre;">The World of Ice..</p>
									<a class="showOptions" href="#">1/10/2015</a>
									</div>
								</div>
							</div>
						</div>
						<div class="featuredItem3">
							<div style="position: relative; float: right;">
								<div class="movie widget-content text-center featuredWidget" >
									<div class="mov-thumbnail" style="width: auto;">
										<img style="max-width: 120px;width: 120px;" src="http://www.georgerrmartin.com/wp-content/uploads/2014/06/old-venus.jpg">
									</div>
									<div class="mov-bottom" style="padding-left: 5px;">
									<p style="white-space: pre;">Old Venus</p>
									<a class="showOptions" href="#">1/10/2015</a>
									</div>
								</div>
							</div>
						</div>
						<div class="featuredItem4">
							<div style="position: relative; float: right;">
								<div class="movie widget-content text-center featuredWidget" >
									<div class="mov-thumbnail" style="width: auto;">
										<img style="max-width: 120px;width: 120px;" src="http://www.georgerrmartin.com/wp-content/uploads/2014/06/icedragon-2014_big.jpg">
									</div>
									<div class="mov-bottom" style="padding-left: 5px;">
									<p style="white-space: pre;">The Ice Dragon</p>
									<a class="showOptions" href="#">1/10/2015</a>
									</div>
								</div>
							</div>
						</div>
					  </div>
					</div>
				  </div>
			<!-- End of Featured Banner -->