<div class="col-md-12 section" style="float:left;text-align:center;">
    <hr/>
    <span style="font-size:8pt">
        <a href="#">About Us</a> |
						<a href="#">FAQ</a> |
						<a href="#">Privacy</a> |
						<a href="#">Terms Of Use</a> |
						<a href="#">Contact Us</a>
						<br><br>
						© Copyright 2014 Lookfwd Inc. All Rights Reserved.</span>

</div>