<!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid top-bar">
          <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown notifications hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/notifications"><span aria-hidden="true" class="se7en-flag"></span>
                  <div class="sr-only">
                    Notifications
                  </div>
                  <p class="counter">
                    0
                  </p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">
                    <div class="notifications label label-info">
                      Read
                    </div>
                    <p>
                      Winds of Winter is released!
                    </p></a>
                    
                  </li>
                  <li><a href="#">
                    <div class="notifications label label-info">
                      Read
                    </div>
                    <p>
                      Michael Sullivan has a new upcoming book
                    </p></a>
                    
                  </li>
                  <li>
					<a href="/notifications">
                   <div class="notifications label label-info" style="
						float: center;
						width: 100%;
						background-color: rgb(16, 121, 255);
					">See All Notifications</div>
					</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown messages hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="se7en-envelope"></span>
                  <div class="sr-only">
                    Messages
                  </div>
                  <p class="counter">
                    3
                  </p>
                </a>
                <ul class="dropdown-menu messages">
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-male2.png" />Could we meet today? I wanted...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-female.png" />Important data needs your analysis...</a>
                  </li>
                  <li><a href="#">
                    <img width="34" height="34" src="images/avatar-male2.png" />Buy Se7en today, it's a great theme...</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown settings hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/profile"><span aria-hidden="true" class="se7en-gear"></span>
                  <div class="sr-only">
                    Settings
                  </div>
                </a>
                <ul class="dropdown-menu">
                  <li>
					<a href="/notifications">
						Notifications Settings
					</a>
                  </li>
                  <li>                    
					<a href="/#">
						Friends
					</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown user hidden-xs">
			  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
				<% if (user) { %>
                 <img width="34" height="34" src="images/avatar-male.jpg" /><%= user.local.email %><b class="caret"></b>

				<% } else { %>
                 <img width="34" height="34" src="images/avatar-male.jpg" />Guest<b class="caret"></b>
				<% } %>
                </a>
                <ul class="dropdown-menu">
                    <% if (user) { %>
                      <li>
                          <a href="/profile">
                            <i class="icon-user"></i>
                           Profile
                           </a>
                      </li>
                    <% } else { %>
                      <li>
                          <a href="/login">
                            <i class="icon-user"></i>
                            Login
                            </a>
                      </li>
                      <li>
                          <a href="/signup">
                            <i class="icon-user"></i>
                            Register
                            </a>
                      </li>
                    <% } %>
                  <li><a href="#">
                    <i class="icon-gear"></i>Account Settings</a>
                  </li>
                  <li><a href="#">
                    <i class="/subscribe"></i>Subscribe to us</a>
                  </li>
                </ul>
              </li>
                <% if (user) { %>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/signup">Register</a>
                    </li>
                    <li>
                        <a href="/login">Sign In</a>
                    </li>
                <% } %>
            </ul>
          </div>
          <button class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/">
                <img class="hidden-xs" src="http://c.dryicons.com/images/icon_sets/polygon_icons/png/256x256/open_book.png" style="
                width: 30px;
                padding-top: 8px;
                float: left;
            "> <div class="hidden-xs" style="margin-left: 40px;margin-top:12px;color: #808080">
                   <span >LOOKFWD</span>
                </div>
            </a>
        </div>
 
		<!-- Search Function Here -->
		<% include searchbox.ejs %> 
        </div>
      </div>
      <!-- End Navigation -->