<!DOCTYPE html>
<html>
<% include head.ejs %> 
    <body>
    <div class="modal-shiftfix">
      <% include header %>  			  
			<div class="container-fluid main-content">
				<% include featuredBanner %>  	
				  <!-- Start of Movies -->
				<div class="col-md-6 section" id="mov">
					<div class="widget-container mov fluid-height fullwidth">
					  <div class="heading">
						<i class="icon-film"></i><p>Hot Upcoming Books</p>
					  </div>
					</div>
					  <div class="movie widget-content text-center" id="book1">
						<div class="mov-thumbnail">
							<img src="http://www.brentweeks.com/news/wp-content/uploads/2013/08/The-Broken-Eye-HC.jpg">
						</div>
						<div class="info">
							<h1>The Broken Eye</h1>
							<p>Brent Weeks</p>
							<h3>Release Date: 2014-08-14</h3>
							<p>As the old gods awaken and satrapies splinter, the Chromeria races to find its lost Prism, the only man who may be able to stop catastrophe. But Gavin Guile is enslaved on a pirate galley. Worse, Gavin no longer has the one thing that defined him -- the ability to draft...</p>
						</div>
						<div class="mov-top"></div>
						<div class="mov-bottom">
							<i class="icon-bell"></i>
							<a href="#">2014-08-14</a>
						</div>
					  </div>
					  <div class="movie widget-content text-center" id="book2">
						<div class="mov-thumbnail">
							<img src="http://levgrossman.com/wp-content/uploads/2013/11/640.jpeg">
						</div>
						<div class="info">
							<h1>The Magician's Land: A Novel (Magicians Trilogy)</h1>
							<p>Lev Grossman</p>
							<h3>Release Date: 2014-05-08</h3>
							<p>In The Magician's Land, the stunning conclusion to the New York Times bestselling Magicians trilogy-on-sale from Viking on August 5-Quentin Coldwater has been cast out of Fillory...</p></div>
							<div class="mov-top"></div>
							<div class="mov-bottom">
							<i class="icon-bell"></i>
							<a href="#">2014-05-08</a>
						</div>
					  </div>
				  </div>
				  <!-- End of Movies -->
				  
				  <!-- Start of Books -->
				  <div class="col-md-6 section" id="books">
					<div class="widget-container fluid-height fullwidth">
					  <div class="heading">
						<i class="icon-book"></i>
						<p>Most Searched Books</p>						
					  </div>					
					</div>	
					<div class="movie widget-content text-center" id="book1">
						<div class="mov-thumbnail">
							<img src="http://dolong.ca/placeholder.jpg">
						</div>
						<div class="info">
							<h1>The Doors of Stone (King Killer #3)</h1>
							<p>Patrick Rothfuss</p>
							<h3>Release Date: TBA</h3>
							<p>The third book in the King Killer trilogy.</p></div>
							<div class="mov-top"></div>
							<div class="mov-bottom">
							<i class="icon-bell"></i>
							<a href="#">Sign up to get notified when we have a date!</a>
						</div>
					  </div>
					  <div class="movie widget-content text-center" id="book2">
						<div class="mov-thumbnail">
							<img src="http://dolong.ca/placeholder.jpg">
						</div>
						<div class="info">
							<h1>Stones Unhallowed (The Stormlight Archive #3)</h1>
							<p>Brandon Sanderson</p>
							<h3>Release Date: 2014-05-08</h3>
							<p>The third in the projected 10 book series, which has been announced as Szeth's book, as it will contain his flashbacks.</p></div>
							<div class="mov-top"></div>
							<div class="mov-bottom">
							<i class="icon-bell"></i>
							<a href="#">2014-05-08</a>
						</div>
					  </div>					
				  </div>
				  
				  <!-- Start of Books -->
				  <div class="col-md-8 section" id="book-results">
					<div class="widget-container fluid-height fullwidth">
					  <div class="heading">
						<i class="icon-book"></i>
						<p>Book Results</p>						
					  </div>					
					</div>
				  </div>
			</div>
		<% include footer %> 
	</div>
  </body>

</html>