<div class="col-md-2 section hidden-xs hidden-sm" id="left-col-browse">
    <div class="left-col">
        <h4 style="font-size:14px;">BROWSE</h4>

        <p><a href="/#discover"><p><i class="icon-book"> </i>Discover</a></p>
        <p><a href="/#hot"><p><i class="icon-book"> </i>Top Books</a></p>
        <p><a href="#"><p><i class="icon-book"> </i>Trending</a></p>
        <hr class="left-sized">
        <h4 style="width:100%;font-size:14px;">YOUR BOOKS</h4>

        <p><a href="#"><p><i class="icon-book"> </i>Notifications</a></p>
        <p><a href="#"><p><i class="icon-book"> </i>Books you might like</a></p>
        <p><a href="#"><p><i class="icon-book"> </i>History</a></p>
        <p><a href="#"><input class="btn btn-sm btn-primary btn-block" type="submit" value="New Category"
                              style="width:90px;">
            </a></p>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>