<div class="col-md-1 section hidden-md hidden-sm hidden-print"
     style="display: block;overflow:hidden;min-width:120px;">
    <div class="missing">
        <p >Are we missing a book?</p>
        <a class="btn btn-xs btn-default" style="color: white;" href="/submititem">Submit a book</a>
    </div>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=lookfwd01-20&amp;o=15&amp;p=8&amp;l=as1&amp;asins=0345535529&amp;ref=tf_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
            style="width: 119px;height:239px;top: -1px; left: -19px;position: relative;" scrolling="no"
            marginwidth="0"
            marginheight="0" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=lookfwd01-20&amp;o=15&amp;p=8&amp;l=as1&amp;asins=0062345214&amp;ref=tf_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
            style="width: 119px;  height: 238px;  top: 0px;  left: -19px;  position: relative;" scrolling="no"
            marginwidth="0" marginheight="0" frameborder="0"></iframe>
    <div class="missing">
        <p>Like our app? Want to support us?</p>

        <form style="padding-left: 0px;padding-bottom:10px;text-align: center;"
              action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6XSZTKUYJZG58">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                   name="submit" alt="PayPal - The safer, easier way to pay online!" style="
">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>

</div>