 <div class="hidden-print hidden-lg hidden-sm hidden-md fullwidth" style="margin-top:-50px;padding-top:10px;display: none;">

					<div class="input-group">
					  <div class="input-group-btn" >
						<input class="search-large" placeholder="Search Titles" id="searchForm" type="text">
						<input type="hidden" id="type" value="title">
						<button class="btn dropdown-toggle" data-toggle="dropdown" type="button" style="
							margin-top: 8px;
							margin-left: -110px;
							background: #fff;
							border-radius: 4px;
							color: #ccc;
						">Title
						<span class="caret grey"></span>
						</button>
						<button id="go" class="btn btn-default" type="button" style="
							padding: 14px;
							margin-top: 10px;
							border-radius: 4px;
							border-bottom-left-radius: 0;  border-top-left-radius: 0;  };
						">Go</button>
					</div>
                    </div>
 </div>