<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<div class="modal-shiftfix">
    <% include header %>
    <div class="container-fluid main-content">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="widget-container fluid-height clearfix fullwidth">
                <h2 class="text-center">Thank you for your submission, we'll look into your submission and have it up shortly!</h2>
            </div>
        </div>
    </div>
    <% include footer %>
</div>
</body>

</html>